body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    font-family: Arial, sans-serif;
}
#gameCanvas {
    display: block;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    margin: 50px auto;
    display: block;
}